.paragraph-xsmall-regular {
    font-size: 12px;
    font-weight: 400;
}

.paragraph-sm-regular {
    font-size: 14px;
    font-weight: 400;
}

.paragraph-sm-medium {
    font-size: 14px;
    font-weight: 500;
}

.paragraph-lg-regular {
    font-size: 16px;
    font-weight: 400;
}

.subtitle-medium {
    font-size: 24px;
    font-weight: 500;
}

.subtitle-bold {
    font-size: 24px;
    font-weight: 700;
}

.title-bold {
    font-size: 32px;
    font-weight: 700;
}